p {
  font-family: Lato;
}
.search-results {
  height: 100%;
}
.title {
  position: fixed;
  top: 50%;
  transform: translateY(-70%);
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
}
.title small {
  color: #eaeaea;
}

.list {
  padding: 100px;
}
.item {
  background-color: rgb(166, 255, 130);
  padding: 10px;
  font-weight: 800;
  width: 200px;
}
