p {
  font-family: Lato;
}
.search-results {
  height: 100%;
}
.title {
  position: fixed;
  top: 50%;
  transform: translateY(-70%);
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  width: 100%;
}
.title small {
  color: #eaeaea;
}

.list {
  padding: 100px;
}
.item {
  background-color: rgb(166, 255, 130);
  padding: 20px;
  font-weight: 800;
  width: 200px;
  margin-bottom: 15px;
  border-radius: 8px;
  background-image: linear-gradient(147deg, #ff7c34 0%, #c31269 74%);
  transition: all 0.35s ease-in-out;
  opacity: 1;
  transform: scale(0.7);
  box-shadow: 0px 7px 16px 0px rgba(41, 53, 108, 0.25);

  &.item-hide {
    opacity: 0;
    transform: scale(0.7);
  }

  &.item-focus {
    opacity: 1;
    transform: scale(1);
  }

  &.item-next {
    opacity: 1;
    transform: scale(1);

    & + .scroll-list__item {
      opacity: 1;
      transform: scale(1);
    }
  }

  &:last-child {
    margin-bottom: 155px;
  }
}
