/* Add application styles & imports to this file! */
.modal {
  display: none;
}
.modal.modal-open {
  display: block;
}

.modal-body {
  max-height: 200px;
  overflow: auto;
}

.title small {
  color: #eaeaea;
}

.modal {
  min-height: 200px;
  min-width: 200px;
  background-color: rgba(0,0,0, .5);
}